aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.3.0
attrs==25.1.0
babel==2.16.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
Brotli==1.1.0
cachetools==5.5.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
deprecation==2.1.0
et-xmlfile==1.1.0
fastapi==0.115.6
ffmpeg==1.4
ffmpy==0.4.0
filelock==3.16.1
Flask==2.3.2
Flask-SocketIO==5.5.1
Flask-SSE==1.0.0
frozenlist==1.5.0
fsspec==2024.10.0
git-filter-repo==2.47.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.8.4
googleapis-common-protos==1.66.0
gotrue==2.11.4
gradio==5.9.0
gradio_client==1.5.2
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.3
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.26.5
hyperframe==6.1.0
idna==3.6
imageio==2.35.1
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
llvmlite==0.43.0
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.1.0
mutagen==1.47.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
openai-whisper==20240930
openpyxl==3.1.3
orjson==3.10.12
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pillow==10.4.0
postgrest==0.19.3
proglog==0.1.10
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycryptodomex==3.20.0
pydantic==2.10.3
pydantic_core==2.27.1
pydub==0.25.1
Pygments==2.18.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-multipart==0.0.19
python-socketio==5.12.1
python-telegram-bot==20.8
pytube==15.0.0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
realtime==2.4.0
redis==5.2.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rsa==4.9
ruff==0.8.3
safehttpx==0.1.6
semantic-version==2.10.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.41.3
storage3==0.11.3
StrEnum==0.4.15
supabase==2.13.0
supafunc==0.9.3
sympy==1.13.1
tiktoken==0.8.0
tk==0.1.0
tkcalendar==1.6.1
tomlkit==0.13.2
torch==2.5.1
tqdm==4.66.5
ttkbootstrap==1.10.1
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.34.0
websockets==13.1
Werkzeug==3.0.3
whisper==1.1.10
wsproto==1.2.0
yarl==1.18.3
yt-dlp==2024.12.13
